:root {
    --black: #1a1a1a;
    --white: #f2f2f2;
    --darkerWhite: #fdfdfd;
    --red: #e82128;
    --hoverGray: #cbcbcb;
    --bold: 800;
    --semibold: 700;
    --medium: 600;
    --thin: 500;
}

.error {
    color: var(--red);
    margin-top: 10px;
}

html,
body {
    font-family: "Inter", sans-serif;
    min-height: 100vh;
    margin: 0;
    background-color: var(--black);
}

#addResource-container {
    padding: 2% 8%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.form-container {
    width: 45%;
    margin-top: 2%;
    margin-bottom: 20%;
    border-radius: 8px;
    height: auto;
    padding: 3%;
}

.form-group {
    width: 95%;
    margin-bottom: 15px;
}

.form-label {
    margin-bottom: 10px;
    font-weight: var(--semibold);
    color: var(--white);
}


.form-group textarea {
    resize: vertical;
}

.form-group input[type="file"] {
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
}

#submit-btn {
    width: 40%;
    height: 40px;
    background-color: var(--red);
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: var(--semibold);
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    transition: box-shadow ease 0.3s;
}

#submit-btn:hover {
    box-shadow: 0 0 4px var(--white);
}

.mrg {
    margin-top: 20px;
}

#alert {
    color: #4fff4d;
}


.short{
    width: 85%;
}


.form-group select{
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: var(--black);
}

.file-info{
    margin-top: -10px;
    font-size: 12px;
    font-weight: 500;
    color: gray;
}


.file-info2{
    margin-bottom: 40px ;
    font-size: 12px;
    font-weight: 500;
    color: gray;
}
